.ravin-cubes {
  position: relative;
  width: 100%;
  height: 100%;
}

.ravin-cubes--scene {
  display: grid;
  width: 100%;
  height: 100%;
  column-gap: var(--col-gap, 5%);
  row-gap: var(--row-gap, 5%);
  perspective: var(--cube-perspective, 99999999px);
  grid-auto-rows: 1fr;
}

.ravin-cubes .cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.ravin-cubes .cube::before {
  content: '';
  position: absolute;
  top: -36px;
  right: -36px;
  bottom: -36px;
  left: -36px;
}

.ravin-cubes .cube-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cube-face-bg, #120F17);
  border: var(--cube-face-border, 1px solid #fff);
  opacity: 1;
}

.ravin-cubes .cube-face--top {
  transform: translateY(-50%) rotateX(90deg);
}

.ravin-cubes .cube-face--bottom {
  transform: translateY(50%) rotateX(-90deg);
}

.ravin-cubes .cube-face--left {
  transform: translateX(-50%) rotateY(-90deg);
}

.ravin-cubes .cube-face--right {
  transform: translateX(50%) rotateY(90deg);
}

.ravin-cubes .cube-face--back,
.ravin-cubes .cube-face--front {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
}
